block vars
  - function getNo(){
  -   for(var i = 0; i < data.length; i++){
  -     if(data[i].no === Number(fileName)){
  -       return i;
  -     }
  -   }
  - }
  - const i = getNo()

html
  head
    meta(charset="utf-8")
    title #{data[i].no} - #{data[i].title}

  body
    h1 #{data[i].title}
    p #{data[i].text}
